@model MVC_YourAnimalFriend.Models.Donation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Donation</h4>
    @Html.ActionLink("Add Volunteer", "AddVolunteer", new {id = Model.Id})
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regulary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regulary)
        </dd>
        <dt>
            Volunteers
        </dt>
        <dd>
            @foreach(var vol in ViewBag.Volunteers)
            {
                @vol.Name
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
